<manifest package="njue.it.hb"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟信息-->
        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="5713af3e67e58eec4200065f"/>-->
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="Channel ID"/>-->

        <!--<service-->
            <!--android:name="com.umeng.update.net.DownloadingService"-->
            <!--android:process=":DownloadingService" />-->

        <!--<activity-->
            <!--android:name="com.umeng.update.UpdateDialogActivity"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
